<!DOCTYPE html>
{% load static %}
<html>
<title>Happiness Code List</title>
  
<body style="background-color:#ffffff ; font-size:12px; ">

  {% include 'Admin_Panel/includes/header.html' %}

  <!-- <div class="card" style="width: 100%"> -->
  <!-- <img class="card-img-top" src="{{ Admin_Panel.picture.url }}"> -->

  <!-- {% block content %} -->
  <div class="well"
    style="margin: 0px 20px 30px 20px; border: 14px !important; padding:0px 30 px 10px 30px !important; background-color:#f0f0f0 ">

    <div style="background:#f0f0f0; "><span style="font-size:large;"> Happiness Code List </span>
      <a> <button type="button" class=" " data-toggle="modal" data-target="#myModal2"
          style="float:right; padding: 2px 22px 2px 22px; margin: -5px 0px; color:black;">Add Code</button></a>
    </div>

    <hr style="height:2px;border-width:0;color:black;background-color:gray; margin: 3px 0 12px 0">

    <table id="table1" style='padding:5px; border-collapse:collapse'>

      <thead>
        <tr style="font-size:12px; text-align:center; color:white">

          <th class="card-title ">Code Id</th>
          <th class="card-title">Code Name</th>
          <th class="card-title">Code Counter</th>
          <th class="card-title">Code Amount</th>
          <th class="card-title">Code Created Date</th>
          <th class="card-title">Code Expiry Date</th>
          <th class="card-title">Code status</th>
          <th class="card-title">Actions</th>


          <!-- <div class="card-footer bg-transparent border-dark"> -->
        </tr>
      </thead>
      <tbody>
        {% for Admin_Panel in data_list %}
        <tr>
          <td class="card-title ">{{ Admin_Panel.id }}</td>
          <td class="card-title ">{{ Admin_Panel.name }}</td>
          <td class="card-title ">{{ Admin_Panel.counter }}</td>
          <td class="card-title ">{{ Admin_Panel.amount }}</td>
          <td class="card-title ">{{ Admin_Panel.created_date_time }}</td>
          <td class="card-title " id="partnerid">{{ Admin_Panel.expiry}}</td>
          <td class="card-title ">{{ Admin_Panel.status }}</td>

          {% csrf_token %}
          <td class="card-title " style="text-align:center;">
            <span type="button" data-id='{{ Admin_Panel.id }}' title="Deactivate"
              class=" detail open-modal glyphicon glyphicon-ban-circle" data-target='myModal'
              style="padding-right: 3px; cursor:pointer;">
            </span>
            <!-- <span type="button" data-id='{{ Admin_Panel.id }}' title="Wallet Detail" class="  detail open-modal"
              data-target='myModal' style="cursor: pointer;"><i class="bi bi-wallet2"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2"
                  viewBox="0 0 16 16" style="padding-right: 3px;">
                  <path
                    d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                </svg></i></span>
            <span type="button" data-id='{{ Admin_Panel.id }}' title="Call Detail" class="detail open-modal "
              data-target='myModal' style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                <path
                  d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                <path
                  d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                <path
                  d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
              </svg></span> -->
          </td>
        </tr>
        <!-- <td class="card-text">{{ Admin_Panel.describe }}</td>
    <div class="card-footer bg-transparent border-dark">
    <td class="card-title">{{Admin_Panel.author}}</td> -->
        <!-- <td><center>
       <a href="update/{{Admin_Panel.id}}" class="btn btn-warning" id = '{{Admin_Panel.id}}'>edit</a>
       <a href="delete/{{Admin_Panel.id}}" class="btn btn-danger" id = '{{Admin_Panel.id}}'>delete</a>
    </center></td> -->

        {% endfor %}

      </tbody>
    </table>

  </div>
  <footer
    style="text-align:center; height:30px; background-color:#0A1C5E; color:white;vertical-align:middle; bottom:0; position:fixed;width:100% ">
    <span>© All Rights Reserved | Production Dashboard</span>
  </footer>

  <div class="modal-div">

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content"
          style="width: max-content; margin: 0px 20px 0px 20px !important; border: 14px !important ">

          <div class="modal-header">
            <span class="modal-title">Modal Heading</span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">

            <table id="table2" class="table table-striped" style='padding:5px; border-collapse:collapse'>
              <thead>
                <tr>
                  <th class="card-title ">Name</th>
                  <th class="card-title">Partner Name</th>
                  <th class="card-title">Price</th>
                  <th class="card-title">Topic</th>
                  <th class="card-title">Duration</th>
                  <th class="card-title">Call Charges</th>
                  <th class="card-title">End time</th>
                  <th class="card-title">End</th>
                </tr>
              </thead>
              <tbody>
                {% for details in data %}
                <tr>
                  <td class="card-title ">hello</td>
                  <td class="card-title ">Hello</td>
                  <td class="card-title ">Hello</td>
                  <td class="card-title ">Hello</td>
                  <td class="card-title ">Hello</td>
                  <td class="card-title ">Hello</td>
                  <td class="card-title ">Hello</td>
                  <td class="card-title ">Hello</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <table id="table2" class="table table-striped" style='padding:5px; border-collapse:collapse'> -->

            <!-- <thead>
              <tr style="font-size:12px; text-align:center; color:white">
  
                <th class="card-title ">Name</th>
                <th class="card-title">Partner Name</th>
                <th class="card-title">Price</th>
                <th class="card-title">Topic</th>
                <th class="card-title">Duration</th>
                <th class="card-title">Call Charges</th>
                <th class="card-title">End time</th>
                <th class="card-title">End</th>
              </tr>
            </thead>
  
  
            <tbody>
              {% for detail in detail_list %}
              <tr>
                <td class="card-title ">{{detail.from}}</td>
                <td class="card-title ">{{ detail.to }}</td>
                <td class="card-title ">{{ detail.callPrice }}</td>
                <td class="card-title ">{{ detail.topic }}</td>
                <td class="card-title ">{{ detail.callCharges }}</td>
                <td class="card-title ">{{ detail.duration }}</td>
                <td class="card-title ">{{ detail.end_time}}</td>
                <td class="card-title ">{{ detail.end}}</td>
  
              </tr>
              {% endfor %}
  
            </tbody> -->
            <!-- </table> -->


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="myModal2" class="modal fade" role="dialog">
    <form action= "/create_coupon/" method="POST">
      {% csrf_token %}
      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header" style="background-color: #0A1C5E; color:white">
            <span class="heading-section modal-title" style="font-weight: bold; font-size:large">Add Happiness Code</span>
          </div>
          <div class="modal-body">

            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-4" for="coupon_name_text">Happiness Code Name<em class="red">*</em></label>
                <div class="col-md-8">
                  <input id="coupon_name_field" type="text" name="name" maxlength="5" required>
                </div>
              </div>
            </div><br><br>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-4" for="coupon_amount_text">Happiness Code Amount<em class="red">*</em></label>
                <div class="col-md-8">
                  <input type="number" name="amount" min='1' max='500' required>
                </div>
              </div>
            </div><br><br>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-4" for="coupon_counter_text">Happiness Code Counter<em class="red">*</em></label>
                <div class="col-md-8">
                  <input id="coupon_counter_field" type="number" name="counter" min='1' required>
                </div>
              </div>
            </div><br><br>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-4" for="coupon_expiry_text">Happiness Code Expiry Date<em class="red">*</em></label>
                <div class="col-md-8">
                  <input id="dateInput" type="datetime-local" name="expiry" required>
                </div>
              </div>

            </div><br><br>



          </div>
          <div class="modal-footer" style="background-color: #0A1C5E">
            <input type="submit" name="submit" class="btn btn-default"></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </form>
  </div>
  </div>
  </div>



  <script>$(document).ready(function () {
      $('#table1').DataTable({
        buttons: [
          { extend: 'excel', text: 'Download Excel' },
        ],
        "scrollY": '100%',
        "autoWidth": true,
        "autoHeight": true,
        sDom: "lBfrtip",
        "scrollY": '350px',

      });


      $('#table2').DataTable({
        buttons: [
          'excel'
        ],

        sDom: "lBfrtip",

      });
      $('#list1 li, #list2 li').on('click', function () {
        $(".dropdown").addClass('hover');
      });
      $('#dateInput').on('click', function () {

        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes();
        var dateTime = date+'T'+time;
        console.log(dateTime)
        '#dateInput'.min= dateTime;
    });
  
  });</script>
  <!-- {% endblock %} -->
</body>

</html>